# Step By Step 02 - 数据获取
----------

当前**alpha-mind**的数据都通过mysql数据进行存储。为了方便用户进行数据获取，**alpha-mind**提供了一个统一的数据接口`SqlEngine`

## 一、 初始化数据接口

用户可以使用一个有效的符合sqlachemy格式的数据库链接串就可以初始化`SqlEngine`:

In [1]:
import os
from alphamind.api import *

engine = SqlEngine(os.environ['DB_URI'])
engine

## 二、获取数据

`SqlEngine`中所有的数据获取方法都以`fetch_`为开头：

In [15]:
[method for method in dir(SqlEngine) if method.startswith("fetch")][:5]

['fetch_benchmark',
 'fetch_benchmark_range',
 'fetch_codes',
 'fetch_codes_range',
 'fetch_data']

### 2.1 获取行情相关数据

In [3]:
# 仅获取某日

In [5]:
engine.fetch_dx_return("2020-07-30", codes=[2010000083])

         code        dx
0  2010000083  0.011997

In [14]:
# 获取某个时间段
# 获取沪深300成分股
# 下面的例子可以获取一个月的每日收益

universe = Universe("HS300")
engine.fetch_dx_return_range(universe, "2020-07-30", "2020-08-30")

     trade_date        code        dx
0    2020-07-30  2010000001 -0.003853
22   2020-07-30  2010000005  0.011332
44   2020-07-30  2010000010 -0.006017
66   2020-07-30  2010000011  0.000000
88   2020-07-30  2010000012 -0.004255
...         ...         ...       ...
6511 2020-08-28  2010031542 -0.003316
6533 2020-08-28  2010031616 -0.007634
6555 2020-08-28  2010031720  0.002401
6577 2020-08-28  2010031773 -0.012904
6599 2020-08-28  2010031963  0.001607

[6600 rows x 3 columns]